{% extends "base.html" %}

{% block body %}
    <div class="container mt-3">
        <div class="row">
            <div class="col">
                <h1>THESAURUS</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-sm">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium ad alias aliquid asperiores aut
                esse et eveniet harum illo ipsam ipsum magni molestiae, nesciunt non numquam perspiciatis tenetur vero,
                voluptatem.
            </div>
            <div class="col-sm">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium ad alias aliquid asperiores aut
                esse et eveniet harum illo ipsam ipsum magni molestiae, nesciunt non numquam perspiciatis tenetur vero,
                voluptatem.
            </div>
            <div class="col-sm">
                <div class="card">

                    <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Others/images/43.jpg" alt="Card image cap">

                    <div class="card-body">

                        <h4 class="card-title"><a>Card title</a></h4>
                        <p class="card-text">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus accusantium aspernatur
                            assumenda at corporis delectus doloremque esse exercitationem explicabo laborum minus nulla
                            odit, placeat praesentium qui, quo sit ut voluptas.
                        </p>
                        <a href="#" class="btn btn-primary">Button</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}