[Unit]
Description=Thesaurus docker containers
Requires=docker.service
After=docker.service

[Service]
Restart=always
WorkingDirectory=/srv/thesaurus
ExecStart=/bin/bash -c "make prod-upd"
ExecStop=/bin/bash -c "make prod-down"
ExecReload=/bin/bash -c "make prod-reload"
[Install]
WantedBy=multi-user.target
