{% load static i18n %}
{% load render_entrypoint from webpack_loader %}
<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %} Thesaurus</title>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="author" content="Josef Kolar, github.com/thejoeejoee">

    <script>
        window.Thesaurus = (window.Thesaurus || {});
        window.Thesaurus.settings = {
            locale: '{{ LANGUAGE_CODE }}'.split(/[_-]/)[0],
        };
    </script>

    {% block bundles %}
        {% render_entrypoint 'main' 'js' attrs='defer' %}
        {% render_entrypoint 'main' 'css' %}
    {% endblock bundles %}

    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/@mdi/font@4.x/css/materialdesignicons.min.css" rel="stylesheet">
</head>
<body>
{% block body %}
    <div id="app"></div>
{% endblock body %}

{% if messages %}
    <script>
        ((window) => {
            {% for message in messages %}
                const tags = JSON.parse('{{ message.extra_tags|default:'{}'|escapejs }}' || {});
                const options = {};
                if (tags.timeout !== undefined) {
                    options.timeOut = options.extendedTimeOut = tags.timeout;
                }
                if (tags.infinite !== undefined) {
                    options.tapToDismiss = !tags.infinite;
                }
                (window.toastr['{{ message.level_tag }}'] || (function() {
                    console.warn('Undefined flash message with type: {{ message.level_tag }}.');
                }))('{{ message }}', undefined, options);
            {% endfor %}
        })(window);
    </script>
{% endif %}
</body>
</html>