{% load static i18n %}
{% load render_entrypoint from webpack_loader %}
{% load to_json get_version from utils %}
<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}">
<head>
    <meta charset="UTF-8">
    <title>Thesaurus</title>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="author" content="Josef Kolar, github.com/thejoeejoee">

    <link rel="apple-touch-icon" sizes="180x180" href="{% static "apple-touch-icon.png" %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static "favicon-32x32.png" %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static "favicon-16x16.png" %}">
    <link rel="manifest" href="{% static "site.webmanifest" %}">

    {% get_available_languages as languages %}
    <script>
        window.Thesaurus = (window.Thesaurus || {});
        window.Thesaurus.settings = {
            locale: '{{ LANGUAGE_CODE }}'.split(/[_-]/)[0],
            username: '{{ user.get_username }}',
            djangoAdminUrl: '{% if user.is_staff %}{% url "admin:index" %}{% endif %}',
            languages: JSON.parse('{{ languages|to_json|escapejs }}'),
            version: '{% get_version %}',
        };
    </script>

    {% block bundles %}
        {% render_entrypoint 'main' 'js' attrs='defer' %}
        {% render_entrypoint 'main' 'css' %}
    {% endblock bundles %}

    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/@mdi/font@4.x/css/materialdesignicons.min.css" rel="stylesheet">
</head>
<body>
<div id="app"></div>
</body>
</html>