@import "~vuetify/src/styles/main.sass";
@import "~tiptap-vuetify/dist/main.css";

.VSliderCustom__label--grey .v-slider__tick-label {
  color: map_get($grey, 'base');
}

.v-input--radio-group--items-center .v-input--radio-group__input {
  justify-content: center;
}


.text-transform-none {
  text-transform: none !important;
}

.theme--dark .tiptap-vuetify-editor__content p {
  color: white;
}