[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
bleach = "*"
Django = "~=3.2"
django-better-admin-arrayfield = "*"
django-bleach = "*"
django-constance = {extras = [ "database",]}
django-debug-toolbar = "*"
django-extensions = "*"
django-filter = "*"
django-lifecycle = "==0.7.7"
django-loginas = "*"
django-mail-queue = "*"
django-positions = "*"
django-python3-ldap = "*"
django-seed = "*"
django-stubs = "*"
django-weasyprint = "==1.1.0"
django-webpack4-loader = "*"
djangorestframework = "*"
djangorestframework-stubs = "*"
Faker = "*"
filetype = "*"
funcy = "*"
gunicorn = "*"
psycopg2-binary = "*"
python-decouple = "*"
sentry-sdk = "*"
setuptools = "*"
unidecode = "*"
uvicorn = "*"
WeasyPrint = "==57.0"
Werkzeug = "*"
django-admin-env-notice = "*"
openpyxl = "*"

[dev-packages]

[requires]
python_version = "3.8"
