{% load i18n %}
<div class="form-history">
    <table class="table">
        <thead>
        <tr>
            <th width="70">{% trans "Change date" %}:</th>
            <th width="80">{% trans "User" %}:</th>
            <th>{% trans "Changed fields" %}:</th>
            <th width="80">{% trans "Query" %}:</th>
        </tr>
        </thead>
        {% for record in history_data %}
            <tr class="item">
                <td>{{ record.action_tstamp_tx|date:"d.m.Y H:i:s" }}</td>
                <td>{{ record.session_user_name }}</td>
                <td>
                    {% if not record.changed_fields %}
                        -
                    {% else %}
                        {% for key, value in record.changed_fields.items %}
                            {{ key }} → <i>{{ value | default:'NULL' }}</i>{% if not forloop.last %}, {% endif %}
                        {% endfor %}
                    {% endif %}
                </td>
                <td>
                    <span data-toggle="tooltip" title="{{ record.client_query }}">{{ record.client_query|truncatechars:9 }}</span>
                </td>
            </tr>
        {% empty %}
            <tr class="item">
                <td colspan="5">{% trans "No records" %}</td>
            </tr>
        {% endfor %}
    </table>
</div>