[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
Django = "~=3.0"
psycopg2-binary = "*"
gunicorn = "*"
django-extensions = "*"
python-decouple = "*"
django-debug-toolbar = "*"
Faker = "*"
Werkzeug = "*"
setuptools = "*"
django-seed = "*"
django-crispy-forms = "*"
djangorestframework = "*"
django-filter = "*"
django-loginas = "*"
django-webpack4-loader = "*"
funcy = "*"
django-positions = "*"
django-stubs = "*"
filetype = "*"
drf-pdf = "*"

[dev-packages]

[requires]
python_version = "3.7"
